<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-NDB7F3D');</script>
  <!-- End Google Tag Manager -->
  <!-- noindex -->
  <meta name="robots" content="noindex" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <!-- meta情報 -->
  <title>
    <%= meta.pageTitle %>
  </title>
  <meta name="description" content="<%= meta.description %>" />
  <meta name="keywords" content="<%= meta.keywords %>" />
  <!-- ogp -->
  <meta property="og:title" content="<%= meta.siteName %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= meta.url %>" />
  <meta property="og:image" content="<%= meta.ogpImage %>" />
  <meta property="og:site_name" content="<%= meta.pageTitle %>" />
  <meta property="og:description" content="<%= meta.description %>" />
  <!-- twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="<%= meta.description %>" />
  <meta name="twitter:title" content="<%= meta.siteName %>" />
  <meta name="twitter:image" content="<%= meta.ogpImage %>" />

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito:wght@600&display=swap" rel="stylesheet">

  <!--favicons-->
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicons/mj/favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicons/mj/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/mj/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/mj/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/mj/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/mj/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/mj/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/mj/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/mj/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/mj/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/mj/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicons/mj/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicons/mj/favicon-48x48.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/mj/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicons/mj/favicon-160x160.png">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicons/mj/favicon-196x196.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/mj/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/mj/favicon-32x32.png">
  <meta name="msapplication-TileColor" content="#c6abaf">
  <meta name="msapplication-TileImage" content="/favicons/mj/mstile-144x144.png">
  <!--favicons-->


  <!-- css -->
  <% const random=Math.floor( Math.random() * 9000000000 ); %>
  <link rel="stylesheet" href="./css/icon.css?ver=<%= random %>" />
  <link rel="stylesheet" href="./css/style.css?ver=<%= random %>" />

  <!-- //gsap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>

  <!-- JavaScript -->
  <script defer src="./js/script.js?ver=<%= random %>"></script>
</head>